<html>
<head></head>
<body>
<h1>IG File Upload/Message Application</h1>
<form method="POST" action="/ig-messaging-api/orders" modelAttribute="orderRequest"
      enctype="multipart/form-data">
    <label>Upload File: </label>
    <input type="file" name="file"/>
    <br/>
    <br/>
    <label>Broker Url: </label>
    <input type="text" name="brokerUrl" value="tcp://localhost:61666"/>
    <br/>
    <br/>
    <label>Username: </label>
    <input type="text" name="userName" value="admin"/>
    <br/>
    <br/>
    <label>Password: </label>
    <input type="password" name="password" value="admin"/>
    <br/>
    <br/>
    <label>Destination Name: </label>
    <input type="text" name="destinationName" value="order-queue"/>
    <br/>
    <br/>
    <label>Topic/Queue - checked for Queue: </label>
    <input type="checkbox" name="isQueue" value="true" checked="checked"/>
    <br/>
    <br/>
    <input type="submit" value="Submit"/>
</form>
</body>
</html>